.header {
  background-color: #c4f135;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 0.8125rem 0px;
  margin-bottom: .5em;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin: 0;
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
}

.ordersLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.ordersIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
