/* page.module.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  overflow-y: auto;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.main {
  flex-grow: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  flex: 1;
  max-width: 30%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middleSection {
  flex: 1;
  max-width: 30%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.middleSection::before,
.middleSection::after {
  content: '';
  position: absolute;
  top: 10%; 
  height: 80%; 
  border-left: 1px solid gray; 
}

.middleSection::before {
  left: 0;
}

.middleSection::after {
  right: 0;
}

.sectionTitle {
  font-size: 24px;
  font-weight: bold;
  color: #d32f2f;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.sectionDescription {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  padding: 0em .5em;
}

.featureList {
  list-style-type: disc;
  margin-left: 20px;
  color: #333;
}

.ctaButton {
  background-color: #d32f2f;
  color: #fff;
  font-size: 14px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.ctaButton:hover {
  background-color: #b71c1c;
}

.featureImage {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sectionImage {
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: 5px;
  margin: .3em 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.featureSection {
  width: 80%;
  margin: 1em auto;
}

.subGrid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

